.light {
      --background-page: #ffffff;
  --background-page-subtle: #f5f5f5;
  --background-surface: ;
  --background-surface-hover: ;
  --text-body: #171717;
  --text-strong: #171717;
  --text-subtle: #525252;
  --border-default: #fcd34d;
  --red-1: #191111;
  --red-2: #201314;
  --red-3: #3b1219;
  --red-4: #500f1c;
  --red-5: #611623;
  --red-6: #72232d;
  --red-7: #8c333a;
  --red-8: #b54548;
  --red-9: #e5484d;
  --red-10: #ec5d5e;
  --red-11: #ff9592;
  --red-12: #ffd1d9;
  --green-1: #0e1512;
  --green-2: #121b17;
  --green-3: #132d21;
  --green-4: #113b29;
  --green-5: #174933;
  --green-6: #20573e;
  --green-7: #28684a;
  --green-8: #2f7c57;
  --green-9: #30a46c;
  --green-10: #33b074;
  --green-11: #3dd68c;
  --green-12: #b1f1cb;
  --orange-1: #fefcfb;
  --orange-2: #fff7ed;
  --orange-3: #ffefd6;
  --orange-4: #ffdfb5;
  --orange-5: #ffd19a;
  --orange-6: #ffc182;
  --orange-7: #f5ae73;
  --orange-8: #ec9455;
  --orange-9: #f76b15;
  --orange-10: #ef5f00;
  --orange-11: #cc4e00;
  --orange-12: #582d1d;
  --neutral-1: #111111;
  --neutral-2: #191919;
  --neutral-3: #222222;
  --neutral-4: #2a2a2a;
  --neutral-5: #313131;
  --neutral-6: #3a3a3a;
  --neutral-7: #484848;
  --neutral-8: #606060;
  --neutral-9: #6e6e6e;
  --neutral-10: #7b7b7b;
  --neutral-11: #b4b4b4;
  --neutral-12: #eeeeee;
  }
  .dark {
      --background-page: #111111;
  --background-page-subtle: #191919;
  --background-surface: #222222;
  --background-surface-hover: #2a2a2a;
  --background-error: #3b1219;
  --background-success: #132d21;
  --border-success: #20573e;
  --text-success: #33b074;
  --border-error: #72232d;
  --text-error: #ec5d5e;
  --border-default: #2a2a2a;
  --border-default-hover: #3a3a3a;
  --text-body: #eeeeee;
  --text-strong: #fff;
  --text-subtle: #7b7b7b;
  --input-background: #3a3a3a;
  --green-1: #0e1512;
  --green-2: #121b17;
  --green-3: #132d21;
  --green-4: #113b29;
  --green-5: #174933;
  --green-6: #20573e;
  --green-7: #28684a;
  --green-8: #2f7c57;
  --green-9: #30a46c;
  --green-10: #33b074;
  --green-11: #3dd68c;
  --green-12: #b1f1cb;
  --red-1: #191111;
  --red-2: #201314;
  --red-3: #3b1219;
  --red-4: #500f1c;
  --red-5: #611623;
  --red-6: #72232d;
  --red-7: #8c333a;
  --red-8: #b54548;
  --red-9: #e5484d;
  --red-10: #ec5d5e;
  --red-11: #ff9592;
  --red-12: #ffd1d9;
  --orange-1: #17120e;
  --orange-2: #1e160f;
  --orange-3: #331e0b;
  --orange-4: #462100;
  --orange-5: #562800;
  --orange-6: #66350c;
  --orange-7: #7e451d;
  --orange-8: #a35829;
  --orange-9: #f76b15;
  --orange-10: #ff801f;
  --orange-11: #ffa057;
  --orange-12: #ffe0c2;
  --neutral-1: #111111;
  --neutral-2: #191919;
  --neutral-3: #222222;
  --neutral-4: #2a2a2a;
  --neutral-5: #313131;
  --neutral-6: #3a3a3a;
  --neutral-7: #484848;
  --neutral-8: #606060;
  --neutral-9: #6e6e6e;
  --neutral-10: #7b7b7b;
  --neutral-11: #b4b4b4;
  --neutral-12: #eeeeee;
  }
  @theme inline {
      --background-page: var(--background-page);
  --background-page-subtle: var(--background-page-subtle);
  --background-surface: var(--background-surface);
  --background-surface-hover: var(--background-surface-hover);
  --background-error: var(--background-error);
  --background-success: var(--background-success);
  --border-success: var(--border-success);
  --text-success: var(--text-success);
  --border-error: var(--border-error);
  --text-error: var(--text-error);
  --border-default: var(--border-default);
  --border-default-hover: var(--border-default-hover);
  --text-body: var(--text-body);
  --text-strong: var(--text-strong);
  --text-subtle: var(--text-subtle);
  --input-background: var(--input-background);
  --green: var(--green);
  --red: var(--red);
  --orange: var(--orange);
  --neutral: var(--neutral);
  }
